# 데이터 전처리 학습

- pandas를 이용한 데이터 전처리 문법

- 1 query() : 행 추출
- 2 df[] : 열 추출
- 3 sort_values() : 정렬
- 4 groupby() : 집단 별로 나누기
- 5 assign() : 변수 추가
- 6 agg() : 통계치 구하기
- 7 merge() : 데이터 합치기(열)
- 8 concat() : 데이터 합치기(행)

# 5. assign()

In [1]:
import pandas as pd

In [3]:
exam = pd.read_csv('../exam.csv')

In [4]:
import numpy as np

In [5]:
exam.assign(test=np.where(exam['science']>=60, 'pass', 'fail'))

    id  nclass  math  english  science  test
0    1       1    50       98       50  fail
1    2       1    60       97       60  pass
2    3       1    45       86       78  pass
3    4       1    30       98       58  fail
4    5       2    25       80       65  pass
5    6       2    50       89       98  pass
6    7       2    80       90       45  fail
7    8       2    90       78       25  fail
8    9       3    20       98       15  fail
9   10       3    50       98       45  fail
10  11       3    65       65       65  pass
11  12       3    45       85       32  fail
12  13       4    46       98       65  pass
13  14       4    48       87       12  fail
14  15       4    75       56       78  pass
15  16       4    58       98       65  pass
16  17       5    65       68       98  pass
17  18       5    80       78       90  pass
18  19       5    89       68       87  pass
19  20       5    78       83       58  fail

### 파생변수 만들기 1) pandas 자체로

In [ ]:
exam.assign(total=exam['math']+exam['english']+exam['science']

### 파생변수 만들기 2) lambda 이용